body {
	padding:0px;
	margin:0px;
}
.navbar {
	background-color:#00695c;
	border:none;
	border-radius:0px;
}
.logo {
	float:left;
	width:100px;
	height:80px;
}
.navbar-brand {
	font-size:25px;
	padding:15px;
	color:white;
	margin:14px 0px;
}
.navbar-brand:hover {
	color:orange;
}
.icon-bar {
	background-color:white;
}
.mobbutton {
	background-color:black;
}
.rightnav li a {
	margin:14px 0px;
	text-decoration:none;
	outline:none;
	color:orange;
	font-size:15px;
}
.rightnav li:hover {background-color:black;}

h2 {
	background-color:#00695c;
	color:white;
	font-size:30px;
	padding:10px;	
}
description {
	padding:5px;
}
.tpo {
	float:right; 
	clear:both;
	width:300px;
	height:220px;
}
.panel {
	background-color:orange;
}
.panel-heading a {
	text-decoration:none;
	color:white;
	font-size:20px;
	padding-left:10px;
}
@media(max-width:767px) {

}